<template>
  <div class="mt-8 mb-4">
    <img src="~/assets/img/white-rabbit-transparent-small.png"
         title="A Halloween photo that inspired my alias after seeing it for so long...!"
         alt="A Halloween photo that inspired my alias after seeing it for so long...!" />
    <h1 class="title">
      Jonathon <strong>"WhiteR4bbitt"</strong> Pawlick
    </h1>
    <h2 class="subtitle">
      Just some dreaming and hopefulness!
    </h2>
    <Links />
  </div>
</template>

<script>
import Vue from 'vue'
import Links from '~/components/Links.vue'

export default Vue.extend({
  components: {
    Links
  }
})
</script>

<style lang="scss">
.title {
  font-family: Roboto, 'Helvetica Neue', Arial, sans-serif;
  display: block;
  @apply text-center font-light tracking-wide;

  strong {
    @apply tracking-widest text-primary;
  }
}

.subtitle {
  @apply text-center font-hairline text-primary;
  word-spacing: 5px; /* This not in Tailwind? */
}

img {
  display: block;
  margin: 0 auto;
  max-width: 200px;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
</style>
